.button {
    font: inherit;
    padding: 0.5rem 1.5rem;
    border: 1px solid hsla(212, 86%, 64%, 100%);
    border-radius: 4px;
    background: hsla(212, 86%, 64%, 100%);
    color: white;
    cursor: pointer;
    margin-right: 1rem;
    text-decoration: none;
    display: inline-block;
    &:focus {
        outline: none;
    }
    &:hover {
        background: hsla(212, 86%, 64%, 80%);
        border-color: hsla(212, 86%, 64%, 80%);
    }
    &:active {
        background: hsla(212, 86%, 64%, 80%);
        border-color: hsla(212, 86%, 64%, 80%);
    }
}
.button--inverse {
    background: transparent;
    color: #ff0055;
    border-color: #ff0055;
    &:hover {
        color: white;
        background: #ff0055;
        border-color: #ff0055;
    }
    &:active {
        color: white;
        background: #ff0055;
    }
}

.button--danger {
    background: #830000;
    border-color: #830000;
    &:hover {
        background: #f34343;
        border-color: #f34343;
    }
    &:active {
        background: #f34343;
        border-color: #f34343;
    }
}

.button:disabled,
.button:hover:disabled,
.button:active:disabled {
    background: #ccc;
    color: #979797;
    border-color: #ccc;
    cursor: not-allowed;
}

.button--small {
    font-size: 0.8rem;
}

.button--big {
    font-size: 1.5rem;
}
